
body {
  margin: 0;
  padding: 0;
  background-color: #00274C; 
  color: #FFCB05; 
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeInDown 1.2s ease-in-out;
}

h2 {
  font-size: 1.6rem;
  margin-top: 0;
  font-weight: normal;
  animation: fadeInUp 1.5s ease-in-out;
}


p {
  animation: fadeInUp 1.8s ease-in-out;
}


.back-btn {
  margin-top: 25px;
  display: inline-block;
  padding: 12px 28px;
  background-color: #FFCB05;
  color: #00274C;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  animation: fadeInUp 2s ease-in-out;
}

.back-btn:hover {
  background-color: white;
  color: #00274C;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-15px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(15px); }
  to   { opacity: 1; transform: translateY(0); }
}
