html {
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 10px;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.maincontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 430px;
  margin: 0 auto;
  gap: 20px;
}

.maincontent>div {
  grid-column: 1 / -1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

iframe {
  width: 100%;
}

nav a:hover,
nav a:focus {
  border: 2px dotted purple;
}

header>a {
  position: absolute;
  top: -100px;
}

header>a:focus {
  grid-template-rows: auto;
  top: 10px;
  left: 10px;
  color: #FFCB05;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
}

:focus {
  border: 5px dashed #ffcb05;
}

a {
  color: #00274C;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(100deg, transparent, #00274C, #FFD84D, #00274C, transparent);
  background-size: 100%;
}

header {
  display: grid;
  background-color: #00274C;
  font-family: 'Times New Roman', Times, serif;
  color: #FFCB05;
  margin: 5px;
  padding: 0;
}

header img {
  width: 300px;
  margin: auto;
}

header h1 {
  color: #FFCB05;
  font-family: 'Arial Black', sans-serif;
  text-align: center;
  font-size: x-large;
  padding: 15px 0;
  background: linear-gradient(135deg, #00274C 0%, #0A3D73 50%, #00274C 100%);
}

body {
  top: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5; 
}

nav ul {
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  text-align: center;
  padding: 0;
}

nav li {
  border: 1px solid #FFCB05;
}

nav a {
  display: block;
  color: #FFCB05;
  text-decoration: solid;
  font-weight: 600;
  padding: 12px;
  font-size: 16px;
}

h1 {
  margin-left: center;
}

b, strong, h1, h2, h3 {
  font-weight: bold; 
}

/* Planning Your Job */
.planning_your_job p,
.opportunities p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.planning_your_job h2,
.benefits h2,
.why h2,
.opportunities h2,
.photo_p1 h2 {
  background-color: #00274C;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFCB05;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}

.why ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
}

.why ul li,
.benefits ul li {
  margin: 10px;
  line-height: 1.5;
  padding-left: 10px;
}

.benefits p,
.benefits ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  list-style: circle;
  padding: 10px;
  margin-left: 10px;
}

.opportunities h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: #00274C;
}

.photo_p1 img {
  width: 100%;
  max-width: 500px;
  margin: 8px;
  border-radius: 8px;
}

footer {
  background-color: #00274C;
  margin: auto;
}

footer p {
  color: #FFCB05;
  text-align: center;
  margin: auto;
  padding: 10px;
}

/* Resume */
.resume_intro h2,
.resume_steps h2,
.resume_resources h2 {
  background-color: #00274C;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFCB05;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.resume_intro p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.resume_steps ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
}

.resume_resources ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
}

.resume_resources ul li,
.resume_steps ul li {
  margin-bottom: 12px;
  line-height: 1.5;
  padding-left: 10px;
}

footer {
  background-color: #00274C;
  margin: auto;
  padding: 10px;
}

/* Home page */
.intro h2,
.why-use h2,
.start-here h2,
.connect h2 {
  background-color: #00274C;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFCB05;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  margin-left: 10px;
}

.intro p,
.connect p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.start-here img {
  width: 100%;
  border-radius: 8px;
}

.start-here ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
}

.start-here ul li,
.why-use ul li {
  margin-bottom: 12px;
  line-height: 1.5;
}

.why-use ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
}

.start-here h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;

}

/* Art_Portfolio */
.portfolio-example h2,
.portfolio-guide h2,
.portfolio-tools h2,
.portfolio-steps h2,
.portfolio-inspiration h2 {
  background-color: #00274C;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFCB05;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.portfolio-example img,
.tool-icons img,
.photo-gallery img {
  width: 100%;
  border-radius: 8px;
}

.portfolio-guide p,
.portfolio-tools p,
.portfolio-steps p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.portfolio-steps ul,
.portfolio-inspiration ul{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  list-style: circle;
} 

.portfolio-steps ul li,
.portfolio-inspiration ul li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 12px;
  line-height: 1.5;
}

.portfolio-inspiration h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: #00274C;
}
